.card-body, .card-title{
  font-family: sans-serif;
  font-weight: 700;
}

.card-price {
  font-size: 3rem;
}
.card-price > span {
  font-size: 1rem;
}

.card {
  border-radius: 1rem !important;
  max-width: 22em;
  transition: .2s !important;
}

.card:hover {
  margin-top: 0.7em !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card:hover .btn  {
  opacity: 1 !important;
}

.btn {
  opacity: 0.7 !important;
  transition: 0.2s !important;
}

.col:nth-child(1) li:nth-child(5),
.col:nth-child(1) li:nth-child(6),
.col:nth-child(1) li:nth-child(7), 
.col:nth-child(1) li:nth-child(8),
.col:nth-child(2) li:nth-child(8) {
    color: grey;
}
